*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    width: 150px;
    height: 24px;
}
.am{
    width: 20px;
    height: 20px;
}
.mor{
    display: flex;
    margin: 10px;
    justify-content: space-around;
    gap: 10px;
}
li{
    display: inline-block;
    margin-left: 15px;
    position: relative;
    color: #5F717D;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
}
.tlogo{
    width: 100%;
    height: 200px;
}
.egnee{
    text-align: center; 
    margin: 5px;
}
.eg:hover{
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #ff6600;
    color: white;
    -webkit-transition: 0.4s;
}
p{
    text-align: center !important;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.8px;
    font-weight: 600;
    color: #293C43;
}

.shr{ 
    margin-left: 33rem;
    background-color: #ff6600;
    height: 8px;
    width: 300px;
    border-radius: 50px;
}
.cs2{
    margin-left: 100px;
    margin-right: 70px;
    border-radius: 10px;
    padding: 50px;
}
.ug{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.8px;
    font-weight: 500;
    color: #293C43;
}


.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin: 20px;
}

.logo2{
    width: 200px;
    height: 200px;
}
.logo3{
    width: 360px;
    height: 684px;
    margin-top: 4rem;
}
.container{
    text-align: center;
}
.right{
    max-width: 25%;
    margin-left: 60px;
}
.left{
    text-align: left;
    margin-left: 60px;
}
.center{
    text-align: center;
    margin-left: 60px;
}
.ugs{
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #5F717D;
}
.br{
    text-align: center;
}
.th{
    text-align: center;
}
.lsh{
    text-align: center;
}
.bo{
    text-align: center;
}
.heseg{
    padding-top: 40px;
    padding-bottom: 40px
}
.tth{
    text-align: center;
    margin: 20px;
}
.ap{
    width: 250px;
    background: black;
    border-radius: 100px !important;
    color: white;
    border-width: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 30px;
    margin-right: 30px;
}
.apt{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}
hr{
    margin: 20px;
}
.logo4{
    width: 80%;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
    padding: 50px;
    margin-left: 130px;
}
.logo1{
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}
.egnee2{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.col{
    text-align: center;
}
.dl{
    margin-left: 33rem;
    border-color: #ff6600;
    border-radius: 50px;
    border: solid #ff6600;
    width: 300px;
    color: #ff6600;
}
.dl:hover{
    background-color: #ff6600;
    border-color: #ff6600;
    border-radius: 50px;
    width: 300px;
    color: white;
}
.align{
    align-self: center!important;
}
.brun{
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #5F717D;
    margin-top: 20px;
}
.egnee3{
    display: flex;
    justify-content: space-evenly;
}

.moon{
    border-radius: 10px;
    width: 500px;
    height: 300px;
}

.tom-tag{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 100px;
    background-color: #f2f2f2;
}
.lo{
    color: #000;
}
.holboo{
    display: block;
}
.text{
    text-align: center;
}